body{padding: 10% 35% 0;}

#headline, #byline, #lead, #body {font-family: FreightText,Georgia,serif;}

#headline{font-size: 2rem;}
#byline{font-size: 1.2rem; font-weight: 900;}

/* Mobile */
@media only screen and (max-width: 600px) {
    body{
        padding: 10% 5% 0;
    }
  }